* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #020617;
  color: #e2e8f0;
  font-family: "Poppins", Arial, sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-size: 1rem;
  font-weight: 700;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button .checkmark {
  cursor: pointer;
}